* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #000c1c;
  overflow-x: hidden;
}

.top {
  height: 70px;
  background: #7dd3fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top h1 {
  color: #000c1c;
  font-size: 22px;
}

.username {
  display: flex;
  align-items: center;
  color: #000c1c;
  font-size: 20px;

}

.p {
  text-decoration: none;
}

.main {
  display: flex;
  min-height: calc(100vh - 70px);
}

.sidebar {
  width: 220px;
  background: #000c1c;
  padding-top: 40px;
  flex-shrink: 0;
}

.sidebar a {
  display: block;
  background: #7dd3fc;
  color: #000c1c;
  text-decoration: none;
  padding: 15px;
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.settings-container {
  flex: 1;
  background: #7dd3fc;
  margin: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section h2 {
  margin: 0;
  font-size: 20px;
  color: #000c1c;
}

.section p {
  margin-top: px;
  font-size: 15px;
  color: #000c1c;
  line-height: 22px;
}

.section button {
  background: #000c1c;
  color: #7dd3fc;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

@media (max-width: 1024px) {

  .sidebar {
    width: 180px;
  }

  .sidebar a {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .settings-container {
    margin: 20px;
    padding: 25px;
  }
}

@media (max-width: 768px) {

  .top {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: auto;
    padding: 10px;
  }

  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }

  .sidebar a {
    margin-bottom: 0;
    width: 150px;
    font-size: 16px;
  }

  .settings-container {
    margin: 15px;
    padding: 20px;
  }

  .section {
    margin-bottom: 40px;
  }

  .section h2 {
    font-size: 18px;
  }

  .section p {
    font-size: 14px;
  }

  .section button {
    font-size: 15px;
    padding: 7px 15px;
  }
}

@media (max-width: 480px) {

  .top h1 {
    font-size: 18px;
  }

  .username {
    font-size: 16px;
  }

  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .sidebar a {
    width: 90%;
  }

  .settings-container {
    margin: 10px;
    padding: 15px;
  }

  .section h2 {
    font-size: 17px;
  }

  .section p {
    font-size: 13px;
    line-height: 20px;
  }

  .section button {
    width: 100%;
    border-radius: 12px;
  }
}